<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="SmtpHostName" value="smtp.kent.seefalk.com"/>
    <add key="SmtpUserName" value="notifications@kent.seefalk.com"/>
    <add key="SmtpPassword" value="f68D4h86"/>-->
    <add key="SmtpHostName" value=""/>
    <add key="SmtpUserName" value=""/>
    <add key="SmtpPassword" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=Sajitha-PC\SQLEXPRESS;Initial Catalog=KentData; Integrated Security=true; connection timeout=200"/>-->
    <add name="ConnectionString" connectionString="Data Source=185.209.230.21;Initial Catalog=KentData;User ID=kentuser;Password=f68D4h86;connection timeout=200"/>
    <!--<add name="ConnectionString" connectionString="Data Source=bamboo.arvixe.com;Initial Catalog=KentUat;User ID=kentuser;Password=f68D4h86;connection timeout=200"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=DESKTOP-7P64DI1 ;Initial Catalog=KentData;User ID=sa;Password=abcd@1234; connection timeout=200"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="FormsAuthenticationCookieWeb" path="/" loginUrl="Login.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>